<main role="main" class="container">
  <div class="row">
    <div class="col-12">
      <input type="button" 
            value="Send toast" 
            class="btn btn-success"
            onClick="showToast('mi mensaje')"></input>
      <input type="button" 
            value="Send Message" 
            class="btn btn-success"
            onClick="messageToServer('mensaje desde el cliente')"></input>
    </div>
  </div>
</main>
